<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner列表图片</title>
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__JS__/layui/css/layui.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Banner图片列表</h5>
            </div>
            <div class="ibox-content">
                <div class="form-group clearfix col-sm-1">
                    {if authCheck('banner/itemadd')}
                    <button class="btn btn-outline btn-primary" type="button" id="addBannerItem">添加图片</button>
                    {/if}
                </div>
                <!--搜索框开始-->
                <!-- <form id='commentForm' role="form" method="post" class="form-inline pull-right">
                    <div class="content clearfix m-b">
                        <div class="form-group">
                            <label>轮播图名称：</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="button" style="margin-top:5px" id="search">
                                <strong>搜 索</strong>
                            </button>
                        </div>
                    </div>
                </form> -->
                <!--搜索框结束-->
                <div class="example-wrap">
                    <div class="example">
                        <table id="cusTable">
                            <thead>
                                <th data-field="id">ID</th>
                                <th data-field="name">名称</th>
                                <th data-field="thumbnail">缩略图</th>
                                <th data-field="type">导向</th>
                                <th data-field="key_word">导向地址</th>
                                <!-- <th data-field="status">状态</th> -->
                                <th data-field="operate">操作</th>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- End Example Pagination -->
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
    </div>
    <!--添加图片-->
    <div class="ibox-content" id="node_box" style="display: none">
        <form class="form-horizontal m-t" method="post" action="{:url('banner/banneradd')}" id="addForm">
            <input type="hidden" name="banner_id" value="{$bannerid}">
            <input type="hidden" name="type" id="banner_type" value="add">
            <input type="hidden" name="img_id" value="" id="imgid">
            <div class="form-group">
                <label class="col-sm-3 control-label">跳转类型：</label>
                <div class="input-group col-sm-3">
                    <select class="form-control" name="type" required="" aria-required="true" id="type">
                        <option value="0">无导向</option>
                        <option value="1" selected>导向商品</option>
                        <option value="2">导向专题</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">导向地址ID：</label>
                <div class="input-group col-sm-7">
                    <input id="key_word" type="text" class="form-control" name="key_word" required="" aria-required="true">
                </div>
            </div>
                
            <div class="form-group">
                <label class="col-sm-3 control-label">图片：</label>
                <input name="thumbnail" id="thumbnail" type="hidden" />
                <div class="form-inline">
                    <div class="input-group col-sm-2">
                        <button type="button" class="layui-btn" id="savefile">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                    <div class="input-group col-sm-3">
                        <div id="sm"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-8">
                    <button class="btn btn-primary" type="submit" id="saveFormSubmit">提交</button>
                </div>
            </div>
        </form>
    </div>
    <!--添加编辑图片-->

    <script src="__JS__/jquery.min.js?v=2.1.4"></script>
    <script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
    <script src="__JS__/content.min.js?v=1.0.0"></script>
    <script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="__JS__/plugins/layer/layer.min.js"></script>
    <script src="__JS__/layui/layui.js"></script>
    <script src="__JS__/jquery.form.js"></script>
    <script type="text/javascript">
        function initTable() {
            //先销毁表格
            $('#cusTable').bootstrapTable('destroy');
            //初始化表格,动态从服务器加载数据
            $("#cusTable").bootstrapTable({
                method: "get",  //使用get请求到服务器获取数据
                url: "{:url('banner/banneritem')}", //获取数据的地址
                striped: true,  //表格显示条纹
                pagination: false, //启动分页
                pageSize: 10,  //每页显示的记录数
                pageNumber: 1, //当前第几页
                pageList: [5, 10, 15, 20, 25],  //记录数可选列表
                sidePagination: "server", //表示服务端请求
                paginationFirstText: "首页",
                paginationPreText: "上一页",
                paginationNextText: "下一页",
                paginationLastText: "尾页",
                queryParamsType: "undefined",
                queryParams: function queryParams(params) {   //设置查询参数
                    var param = {
                        id:'{$bannerid}',
                        // pageNumber: params.pageNumber,
                        // pageSize: params.pageSize,
                        // searchText: $('#name').val()
                    };
                    return param;
                },
                onLoadSuccess: function (res) {  //加载成功时执行
                    sessionStorage.setItem("banneritem",JSON.stringify(res));
                    if (111 == res.code) {
                        window.location.reload();
                    }
                    layer.msg("加载成功", { time: 1000 });
                },
                onLoadError: function () {  //加载失败时执行
                    layer.msg("加载数据失败");
                }
            });
        }
        //编辑
        function editBannerItem(id){
            $("#banner_type").val('edit');
            var itemdata = getBannerItemByID(id);
            var status = ["无导向","导向商品","导向专题"];
            var statuskey = 0;
            for (let i = 0; i < status.length; i++) {
                if(status[i]==itemdata.type){
                    var statuskey = i;
                }
            }
            $("#type").val(statuskey);
            $("#key_word").val(itemdata.key_word);
            $("#imgid").val(itemdata.img_id);
            $("#sm").html('<img src="'+ itemdata.image.url+'" class="img-responsive" alt="Responsive image">');

            layui.use('layer', function () {
                box = layer.open({
                    type: 1,
                    title: '添加图片',
                    anim: 2,
                    skin: 'layui-layer-molv', //加上边框
                    area: ['620px', '375px'], //宽高
                    content: $('#node_box')
                });
            });
            return false;
        }
        //根据id获取数据
        function getBannerItemByID(id){
            if(!id){
                return false;
            }
            var data = sessionStorage.getItem("banneritem"),
            bannerItemData = JSON.parse(data),
            rows = bannerItemData.rows,
            len = rows.length;
            var itemdata = {};
            for (let i = 0; i < len; i++) {
                if(rows[i].id==id){
                    itemdata = rows[i];
                }
            }
            return itemdata;
        }
        $(document).ready(function () {
            //调用函数，初始化表格
            initTable();

            //当点击查询按钮的时候执行
            // $("#search").bind("click", initTable);
            //弹出成
             $("#addBannerItem").click(function () {
                $("#banner_type").val('add');
                //清空数据
                $("#type").val(1);
                $("#key_word").val('');
                $("#sm").html('');
                layui.use('layer', function () {
                    box = layer.open({
                        type: 1,
                        title: '添加图片',
                        anim: 2,
                        skin: 'layui-layer-molv', //加上边框
                        area: ['620px', '375px'], //宽高
                        content: $('#node_box')
                    });
                });
            });
            //添加提交
            $("#saveFormSubmit").click(function(){
                var type =  $("#banner_type").val();
                console.log(type);
                if(type=='edit'){

                }
                var data = $("#addForm").serialize();
                save_banner_item(data,function(msg){
                    console.log(msg);
                });
                return false;
            });
            // 上传图片
            layui.use('upload', function () {
                var upload = layui.upload;

                //执行实例
                var uploadInst = upload.render({
                    elem: '#savefile' //绑定元素
                    , url: "{:url('banner/uploadImg')}" //上传接口
                    , done: function (res) {
                        console.log(res);
                        //上传完毕回调
                        $("#thumbnail").val(res.data.src);
                        $("#imgid").val(res.data.imgid);
                        // $("#sm").html('<img src="' + res.data.src + '" style="width:400px;height: 400px;"/>');
                        $("#sm").html('<img src="' + res.data.src + '" class="img-responsive" alt="Responsive image">');
                    }
                    , error: function () {
                        //请求异常回调
                    }
                });
            });

        });
        
        function bannerDel(id) {
            layer.confirm('确认删除此管理员?', { icon: 3, title: '提示' }, function (index) {
                //do something
                $.getJSON("{:url('banner/bannerDel')}", { 'id': id }, function (res) {
                    if (1 == res.code) {
                        layer.alert(res.msg, { title: '友情提示', icon: 1, closeBtn: 0 }, function () {
                            initTable();
                        });
                    } else if (111 == res.code) {
                        window.location.reload();
                    } else {
                        layer.alert(res.msg, { title: '友情提示', icon: 2 });
                    }
                });

                layer.close(index);
            })

        }
        //post提交图片数据
        function save_banner_item(data,callback){
            
            $.ajax({
                url:"{:url('banner/saveItem')}",
                data: data,
                type: "POST",
                async: false,
                dataType: 'json',
                success: function (msg) {
                    callback && callback(msg);
                }
            });
        }
    </script>
</body>

</html>